@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  /* Primary colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  padding: 50px 100px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
  color: grey;
  font-size: 14px;
}
.nav-menu ul li:hover {
  color: var(--soft-orange);
  cursor: pointer;
}
.hamburger-button {
  display: none;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  border: 0;
  background: transparent;
  gap: 0.65rem;
  cursor: pointer;
}
.hamburger-button > div {
  background: #000;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}
.hamburger-button.inactive div:first-child {
  transform: rotate(45deg);
}
.hamburger-button.inactive div:nth-child(2) {
  opacity: 0;
}
.hamburger-button.inactive div:last-child {
  transform: rotate(-45deg);
}
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.container-article {
  width: 100%;
  margin-top: 50px;
}
.container-article img {
  width: 100%;
}
.container-article .details-container {
  padding-top: 40px;
  width: 100%;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details-container h1 {
  font-size: 45px;
  width: 70%;
  font-weight: 800;
}
.details-container div p {
  width: 95%;
  font-size: 14px;
  text-align: justify;
  line-height: 1.8;
  color: gray;
  margin-top: 5px;
}
.details-container div {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.button-article {
  width: 150px;
  height: 40px;
  background-color: var(--soft-red);
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px;
}
.button-article:hover {
  background-color: var(--very-dark-blue);
  cursor: pointer;
}
.container-aside {
  width: 100%;
  margin-top: 50px;
  background-color: var(--very-dark-blue);
  padding: 20px 35px;
}
.container-aside h3 {
  color: var(--soft-orange);
  font-size: 35px;
  font-weight: 700;
}
/* .container-aside div {
  margin-left: 10px;
} */
.container-aside div h5 {
  color: white;
  margin-top: 30px;
  font-size: 16px;
}
.container-aside div h5:hover {
  color: var(--soft-orange);
  cursor: pointer;
}
.container-aside div p {
  margin-top: 15px;
  font-weight: 100;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.3px;
  width: 100%;
  color: var(--dark-grayish-blue);
}
.container-aside hr {
  width: 100%;
  margin-top: 25px;
  color: gray;
}
.container-listAd {
  display: flex;
  margin-top: 50px;
  width: 100%;
  gap: 20px;
}
.container-listAd .listAdDetail {
  display: flex;
  width: 100%;
}
.listAdDetail img {
  width: 120px;
}
.listAdDetail div {
  margin-left: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.listAdDetail div h2 {
  color: var(--grayish-blue);
  font-size: 30px;
}
.listAdDetail div h3 {
  font-weight: bold;
  width: 100%;
}
.listAdDetail div h3:hover {
  color: var(--soft-red);
  cursor: pointer;
}
.listAdDetail div p {
  font-size: 14px;
  color: var(--dark-grayish-blue);
  width: 80%;
  line-height: 1.2;
}

@media (max-width: 900px) {
  .nav-menu ul {
    gap: 15px;
  }
  body {
    padding: 20px 10px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .container-listAd {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .nav-menu ul {
    display: none;
    padding-top: 100px;
  }
  .nav-menu .visible {
    position: absolute;
    background-color: white;
    display: block;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
  }
  .nav-menu ul li {
    margin-top: 20px;
    margin-left: 20px;
    color: var(--very-dark-blue);
  }
  nav img {
    width: 50px;
  }
  .hamburger-button {
    display: flex;
    z-index: 1;
  }
  .container-article img {
    background-image: url("./assets/images/image-web-3-mobile.jpg");
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
  .container-article {
    height: 70vh;
  }
  .container-article .details-container {
    display: flex;
    flex-direction: column;
  }
  .details-container h1 {
    font-size: 30px;
    width: 80%;
    width: 70%;
  }
  .listAdDetail img {
    width: 100px;
  }
  .listAdDetail div h2 {
    font-size: 25px;
  }
  .listAdDetail div h3 {
    font-size: 15px;
  }
  .listAdDetail div p {
    font-size: 12px;
  }
}
